.bg-white {
  background: white;
}

.bg-gray {
  background: var(--blueGray50);
}

.bg-dark {
  background: var(--blueGray800);
}

.bg-hero {
  background-image: url("../../../../public/images/banner/markers.svg"), url("../../../../public/images/banner/desktop.png");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 575px) {
  .bg-hero {
    background-image: url("../../../../public/images/banner/mobile.png");
  }
}
