.features {
	display: flex;
	justify-content: space-around;
	padding: 24px 0 40px 0;
}

.feature {
	width: 225px;
	text-align: center;
	color: white;
	margin-top: 40px;
}

@media (max-width: 900px) {
	.features {
		flex-direction: column;
		align-items: center;
	}
}
