form {
	display: flex;
	justify-content: center;
}

input {
	user-select: none;
	padding: 16px;
	border-radius: 8px 0 0 8px;
	border: none;
	font-size: 18px;
	width: 260px;
	color: var(--blueGray700);
	box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.56);
}

input:hover {
	background: var(--blueGray50);
}

.btn-send {
	background: var(--wandernOrange);
	border: none;
	border-radius: 0 8px 8px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	cursor: pointer;
}

.input-message {
	margin-top: 8px;
	font-size: 14px;
	color: white;
	animation: fadein 0.5s;
	text-align: center;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.shake {
	animation: shake 0.2s ease-in-out 0.05s 2;
}

@keyframes shake {
	0% {
		margin-left: 0rem;
	}
	25% {
		margin-left: 0.2rem;
	}
	75% {
		margin-left: -0.2rem;
	}
	100% {
		margin-left: 0rem;
	}
}

::placeholder {
	color: var(--blueGray500);
}

input:first-of-type:focus {
	outline: var(--wandernOrange) solid 3px;
	border-radius: 8px;
}

#form-request-access {
	display: flex;
	margin-top: 20px;
}
