.center-logo {
	padding-top: 56px;
	display: block;
	margin: 0 auto;
}

header .tagline {
	font-size: 60px;
	margin-top: 100px;
	color: white;
	text-align: center;
	font-weight: bold;
	text-shadow: rgb(25 28 31 / 45%) 0px 3px 8px;
}

header .description {
	text-align: center;
	color: white;
	padding: 16px 0;
	margin: 0 auto;
	max-width: 500px;
}

.ti-arrow-narrow-down {
	color: white;
	margin: 40px auto 0 auto;
	display: block;
	cursor: pointer;
	animation-name: bounce;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(16px);
	}
	100% {
		transform: translateY(0);
	}
}

@media screen and (max-width: 700px) {
	header .tagline {
		font-size: 36px;
		font-weight: bold;
	}

	header .description {
		font-size: 18px;
	}
}
