@import url(components/background.css);
@import url(components/buttons.css);
@import url(components/container.css);
@import url(components/features.css);
@import url(components/footer.css);
@import url(components/form.css);
@import url(components/header.css);
@import url(components/privacy.css);
@import url(components/step.css);

:root {
	--blueGray50: #f8fafc;
	--blueGray100: #f1f5f9;
	--blueGray200: #e2e8f0;
	--blueGray300: #cbd5e1;
	--blueGray400: #94a3b8;
	--blueGray500: #64748b;
	--blueGray600: #475569;
	--blueGray700: #334155;
	--blueGray800: #1e293b;
	--wandernOrange: #cf5c36;
	--wandernOrangeHover: #c2410c;
}
